/* Asegúrate de ajustar los estilos según tus necesidades */

.section-title {
  font-size: 2rem;
  font-weight: bold;
}

.text-primary {
  color: #DFB163 !important;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #DFB163;
  border-color: #000000;
}

.btn-danger {
  background-color: #DFB163;
  border-color: #000000;
}

.btn-warning {
  background-color: #DFB163;
  border-color: #DFB163;
}

img {
  border-radius: 5px;
}

h1, h5 {
  margin: 0;
}

:root {
  --custom-color: #DFB163; /* Cambia este valor al color que desees */
}
.btn-danger:hover {
  background-color: #030303; /* Color de fondo al pasar el ratón */
  border-color: #DFB163; /* Color del borde al pasar el ratón */
}

.btn-warning:hover {
  background-color: #000000; /* Color de fondo al pasar el ratón */
  border-color: #DFB163; /* Color del borde al pasar el ratón */
}

.btn-primary:hover {
  background-color: #000000; /* Color de fondo al pasar el ratón */
  border-color: #DFB163; /* Color del borde al pasar el ratón */
}