<<<<<<< HEAD
<<<<<<< HEAD
/* Ajustes específicos para el espacio debajo del contenedor del título "RIOARRIENDOS" */
.nav-bar-container {
  margin-bottom: 20px; /* Añade un margen inferior específico al contenedor del título */
  position: relative;
  top: -50px; /* Ajusta esto según sea necesario para mantener la superposición */
  z-index: 10; /* Asegura que esté encima del cuadro de iconos */
}
=======
=======
>>>>>>> 29d79fe15d4b631243b2c98dd1782a06b87e18a9
/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  background: none;
  color: #fff;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

.navbar-button:hover {
  text-decoration: underline;
}

.navbar-account {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.dropdown-item {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
<<<<<<< HEAD
>>>>>>> 29d79fe15d4b631243b2c98dd1782a06b87e18a9
=======
>>>>>>> 29d79fe15d4b631243b2c98dd1782a06b87e18a9
