.dashboard {
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente fila */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
  background: #F3F6FF;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px; /* Ancho fijo para las tarjetas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.button {
  background-color: #D8A143;
    color: #ffffff  ;
      padding: 0.75rem 1.5rem;
      border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    width: 40px;
    padding: 5px 10px;
    justify-Content: center;
}

.button:hover {
  background-color: #252531;
}

.reprogramar-button {
  background-color: none;
}

.reprogramar-button:hover {
  background-color: #252531;
}

.postergar-button {
  background-color: none;
}

.postergar-button:hover {
  background-color: #252531;
}

.rechazar-button {
  background-color: none;
}

.rechazar-button:hover {
  background-color: #252531;
}

.eliminar-button {
  background-color: none;
}

.eliminar-button:hover {
  background-color: #252531;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content button {
  margin-top: 15px;
}

.modal-content .button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.modal-content .button + .button {
  margin-top: 10px;
}
